{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

<!-- HEADER -->
<!-- NAVIGATION -->
{{ elements.worldofcichlids_main_menu }}
<header class="header" id="header">
    <div class="container">
        <div class="pi-navigation1">
            <div class="lang-box">
                <a href="/"><i class="fa"></i></a>
                <a href="/sr"><i class="fa"></i></a>
            </div>
        </div>
        <div class="pi-search">
        {{ elements.worldofcichlids_search }}
        </div>
        <!-- LOGO -->
        <div class="logo">
            <a href="/">WORLD OF<br>CICHLIDS</a>
        </div>
        <!-- END / LOGO -->
    </div>
</header>
<!-- END / HEADER -->
